.most-viewed-container{
    padding: 40px;
}

.most-viewed-header{
    padding-top: 40px;
    padding-bottom: 40px;
}

.memes-container{
    width: 100%;
}

.image-mobile{
    width: 80vw;
    padding-top: 20px;
    padding-bottom: 40px;
}
