<div
  class="flex-container footer-container"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <div>
    <a href="https://www.instagram.com/lsacbucuresti/"
      ><button mat-icon-button>
        <mat-icon svgIcon="instagram"></mat-icon></button
    ></a>
    <a href="https://www.twitch.tv/lsac_bucuresti"
      ><button mat-icon-button>
        <mat-icon svgIcon="twitch"></mat-icon></button
    ></a>
    <a href="https://www.facebook.com/LsacBucuresti/"
      ><button mat-icon-button>
        <mat-icon svgIcon="facebook"></mat-icon></button
    ></a>
  </div>
  <div class="copyright-message-container">
    <h3 class="copyright-message">
        Copyright {{ currentYear }} | La munca, nu la intins mana.
    </h3>
 </div>
</div>
