.navbar-container {
  width: 100%;
  padding-left: 3vw;
  padding-right: 5vw;
  padding-top: 60px;
  padding-bottom: 30px;
  height: 100px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2;
}
