.header-container {
  text-align: center;
}
.subheader-container {
  text-align: center;
}
.constrain-subheader-container{
    width: 70%;
}
.welcome-page-container {
  padding: 30px;
}
.upload-button
{
    padding: 10px;
    width: 300px;
    max-width: 80vw;
}
.welcome-image{
    max-width: 95vw;
}
